---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

2024-25

COL 718 High Performance Architectures
COL 861 Quantum Computing: Circuit Synthesis for NISQ

2023-24 

COL 718 High Performance Architectures
COL 216 Computer Architecture

2022-23

COL 861 Hardware Security
COL 100-A Introduction to Computers and Computer Science

2020-21

COL 331 Operating Systems
COL 718 High Performance Architectures

2019-20

COP 290 Design Practices in  Computer Science
COP 315 Embedded System Design Project
COL 788 Advanced Embedded Computing
COL 730 Parallel Computation

2017-18

COL 788 Advanced Embedded Computing
COP 745 Digital Systems Laboratory


2016-17

COV 881 Embedded Systems Security
COP 290 Design Practices (in Computer Science)
COL 788 Advanced Embedded Computing
COP 745 Digital System Laboratory

2015-16

COL 373/633 Operating Systems
COL 215 Digital Hardware Design

2014-15
Embedded Computing
CSL215 Digital Hardware Design

Winter 2012-13
Advanced Embedded Systems
